<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniqodo Technical Test</title>
</head>

<body class="bg-light">

    <div id="app">
        <div class="App">
            <nav class="navbar navbar-expand navbar-uniqodo"><a class="navbar-brand" href="/jobs/tests/fe/mid1/index.html">UNIQODO</a></nav>
            <div class="container container-fluid">
                <div>
                    <div class="my-3 p-3 bg-white rounded shadow-sm"><h1>List</h1></div>
                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Products</h6>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a title="TV" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/1">TV</a>TV</div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a title="Monitor" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/2">Monitor</a>Monitor</div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a title="T-shirt" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/3">T-shirt</a>T-shirt
                                <div class="pull-right">
                                    <span class="promo badge badge-info">Save with code: <span>PROMOTION_1</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a title="Trainers" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/4">Trainers</a>Trainers</div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a title="Headphones" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/5">Headphones</a>Headphones
                                <div class="pull-right">
                                    <span class="promo badge badge-info">Save with code: <span>PROMOTION_2</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a title="iPhone" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/6">iPhone</a>iPhone</div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a title="Table" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/7">Table</a>Table
                                <div class="pull-right">
                                    <span class="promo badge badge-info">Save with code: <span>PROMOTION_1</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a title="Jacket" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/8">Jacket</a>Jacket</div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a title="Laptop" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/9">Laptop</a>Laptop</div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"><a title="Washing machine" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/10">Washing machine</a>Washing machine</div>
                        </div>
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <a title="Table" class="d-block text-gray-dark" href="/jobs/tests/fe/mid1/detail/11">Table</a>Table
                                <div class="pull-right">
                                    <span class="promo badge badge-info">Save with code: <span>PROMOTION_3</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="app">
        <div class="App">
            <div class="container container-fluid">
                <div>
                    <div class="my-3 p-3 bg-white rounded shadow-sm"><h1>Detail of Headphones #5</h1></div>
                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Headphones</h6>
                        <p>Save on this product with code &nbsp;<span class="promo badge badge-info">PROMOTION_2</span> right now!</p>
                    </div>
                </div>
            </div>
        </div>
    
</body>

</html>